
.transition-all {
	-webkit-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
	-moz-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
	-o-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
	transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

@media only screen and (max-width: 991px) {
	.anchor-cart {
		/* -webkit-transform: translateY(0); */
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}
}


.homePage {
	.anchor-Link {
		font-size: 16px;
		position: absolute;
		text-decoration: none;
		color: black;
		padding: 2px 10px;
		border: 1px solid #333;
		border-radius: 5px;
		line-height: 30px;
		top: 40px;
		left: 10%;
		right: 10%;
	}
}

.action-button {
	padding: 0;
	background: none;
	border: none;
}
