.rest-menu-holder {
	float: right;
	width: 100%;
	padding: 50px 0 50px;
	.wrapper {

	}
	// > .wrapper{
	//     position: relative;
	// }
}
.right-side-holder {
	> div {
		margin-bottom: 20px;
	}
}
@media only screen and (min-width: 992px) {
	.right-side-holder {
		float: right;
		width: 70%;
		min-height: 600px;
	}
}

.menu-tab {
	display: flex;
	direction: rtl;
	position: relative;
	z-index: 2;
	top: 1px;
	.active:hover {
		color: inherit;
	}
	.active {
		border-width: 1px 1px 0;
		border-style: solid;
		border-color: #e4e4e4;
		background-color: #fff;
	}
	a {
		-webkit-box-flex: 1;
		-webkit-flex-grow: 1;
		-moz-flex-grow: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		padding: 10px 15px;
		text-align: center;
		color: #333;
		-webkit-border-radius: 5px 5px 0 0;
		-moz-border-radius: 5px 5px 0 0;
		border-radius: 5px 5px 0 0;

		:active,
		:hover {
			outline: 0;
		}
	}
}
