.side-section {
	.cart-quantity {
		.cart-size {
			color: #ffffff;
		}
	}
}

.readytomove {
	position: sticky;
	top: 30px;
}
.rest-cart {
	> header {
		border-bottom: 1px solid #e4e4e4;
		padding: 0 15px;
		direction: rtl;
		position: relative;
		z-index: 10;
		background-color: #fff;
		h3 {
			float: right;
			margin: 0;
			white-space: nowrap;
			direction: rtl;
			font-size: 16px;
			font-size: 1rem;
			height: 60px;
			line-height: 60px;
		}
	}
	.cart-holder-inner {
		height: calc(100% - 60px);
		direction: rtl;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
	.empty-cart {
		text-align: center;
		display: block;
		padding: 50px 0;
		span {
			color: #ccc;
			display: block;
		}
		.fo {
			font-size: 80px;
			font-size: 5rem;
			display: inline-block;
			margin-bottom: 10px;
			color: #ccc;
		}
	}
}
.anchor-cart {
	h3 {
		float: right;
		margin: 0;
		direction: rtl;
		white-space: nowrap;
		font-weight: 400;
	}
	b {
		font-weight: 400;
		font-size: 16px;
		font-size: 1rem;
	}
	.total-price {
		position: absolute;
		left: 15px;
		top: 50%;
		min-width: 30px;
		height: 30px;
		line-height: 32px;
		padding: 0 10px;
		text-align: center;
		font-weight: 400;
		background-color: rgba(0, 0, 0, 0.2);
		-webkit-border-radius: 999px;
		-moz-border-radius: 999px;
		border-radius: 999px;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
		direction: rtl;
	}
	i{
		font-size: 1.5rem;
	}
}
.cart-bottom {
	.row {
		span {
			b {
				font-weight: 400;
				position: relative;
				white-space: nowrap;
			}
		}
	}
	button {
		padding: 8px 15px;
		margin-top: 5px;
	}
}

@media only screen and (min-width: 992px) {
	.rest-cart {
		left: auto;
		top: auto;
		bottom: auto;
		width: 100%;
		height: auto;
		border: 1px solid #e4e4e4;
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		-o-transform: translateZ(0);
		transform: translateZ(0);
		> header {
			height: auto;
			line-height: normal;
			padding: 10px;
		}
	}
	.left-side-holder {
		float: left;
		width: 30%;
		.side-section {
			display: block;
		}
	}
	.side-holder {
		padding-right: 20px;
		z-index: 1101;
	}
}
@media only screen and (min-width: 415px) {
	.empty-cart {
		max-width: 350px;
	}
}

@media only screen and (min-width: 992px) {
	.cart-quantity {
		float: left;
		direction: ltr;
	}
	.rest-cart {
		> header {
			h3 {
				height: auto;
				background: none;
				line-height: normal;
			}
		}
		.cart-size {
			min-width: 22px;
			height: 22px;
			line-height: 25px;
			padding: 0 5px;
			background-color: #333;
			text-align: center;
			vertical-align: middle;
			font-size: 13px;
			border-radius: 50%;
			font-size: 0.8125rem;
			display: inline-block;
		}
		.cart-holder-inner {
			overflow-y: hidden;
			height: auto;
			padding-bottom: 0 !important;
		}
		.cart-list-holder {
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
			max-height: 419px;
		}
		.cart-bottom {
			position: relative;
			bottom: auto;
			left: auto;
			background: none;
			float: right;
		}
	}
}
