.food_menu {
	padding-bottom: 15px;
	min-height: 700px;
	h2 {
		padding: 0 10px;
		color: #888;
		font-size: 20px;
		font-size: 1.25rem;
		direction: rtl;
	}
}
.food-item {
	float: right;
	width: 100%;
	padding-bottom: 15px;
	position: relative;
	transition: all 0.2s cubic-bezier(0, 0.5, 0.5, 1);

	.qty-holder {
		position: absolute;
		bottom: 50%;
		left: 15px;
		span {
			width: 25px;
			margin: 0 auto;
			padding: 0px 9px;
			text-align: center;
			line-height: 28px;
			z-index: 1;
			font-size: 14px;
			font-size: 0.875rem;
		}
	}
	section {
		background-color: #fff;
		border: 1px solid #e4e4e4;
		width: 100%;
		direction: rtl;
		position: relative;
		will-change: height;
		-webkit-transition: height 0.4s cubic-bezier(0.19, 1, 0.22, 1);
		-moz-transition: height 0.4s cubic-bezier(0.19, 1, 0.22, 1);
		-o-transition: height 0.4s cubic-bezier(0.19, 1, 0.22, 1);
		transition: height 0.4s cubic-bezier(0.19, 1, 0.22, 1);
	}
	figure {
		position: relative;
		float: right;
		width: 100%;
		background: url(https://www.delino.com/img/general/food-default.jpg) no-repeat 50% #eff2f6;
		display: block;
		height: 0;
		padding-bottom: 63%;
		background-size: 100%;
		cursor: default;
		img {
			width: 100%;
			display: block;
		}
		.ingredient {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			-webkit-border-radius: 10px 10px 0 0;
			-moz-border-radius: 10px 10px 0 0;
			border-radius: 10px 10px 0 0;
			-webkit-transition-duration: 0.3s;
			-moz-transition-duration: 0.3s;
			-o-transition-duration: 0.3s;
			transition-duration: 0.3s;
			background: -moz-radial-gradient(
				center,
				ellipse cover,
				rgba(255, 255, 255, 0.9) 0%,
				rgba(255, 255, 255, 0.7) 100%
			);
			background: -webkit-radial-gradient(
				center,
				ellipse cover,
				rgba(255, 255, 255, 0.9) 0%,
				rgba(255, 255, 255, 0.7) 100%
			);
			background: radial-gradient(
				ellipse at center,
				rgba(255, 255, 255, 0.9) 0%,
				rgba(255, 255, 255, 0.7) 100%
			);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffffff', endColorstr='#b3ffffff',GradientType=1 );
			overflow: hidden;
			text-align: center;
			/* visibility: hidden; */
			opacity: 0;
			filter: alpha(opacity=0);
			z-index: 5;
			span {
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				width: 100%;
				/* visibility: hidden; */
				/* opacity: 0; */
				filter: alpha(opacity=0);
				-webkit-transform: scale(1.1);
				-moz-transform: scale(1.1);
				-ms-transform: scale(1.1);
				-o-transform: scale(1.1);
				transform: scale(1.1);
				padding: 15px;
				font-size: 14px;
				font-size: 0.875rem;
			}
			b {
				width: 100%;
				float: right;
				font-weight: bold;
				direction: rtl;
				position: relative;
				top: 50%;
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				transform: translateY(-50%);
			}
		}
	}
	.details-holder {
		position: relative;
		float: right;
		padding: 15px;
		width: 100%;
		line-height: 90px;
	}
	header {
		text-align: right;
		padding-left: 75px;
		display: inline-block;
		vertical-align: middle;
		line-height: normal;
		span {
			font-size: 13px;
			font-size: 0.8125rem;
			direction: rtl;
			white-space: nowrap;
		}
		small {
			font-size: 13px;
			font-size: 0.8125rem;
			color: #888;
		}
		h3 {
			margin: 10px 0 0;
			font-size: 20px;
			font-size: 0.875rem;
			font-weight: 700;
			line-height: 22px;
		}
	}
	.active-box {
		border: 1px solid #be901e;
		.qty-badge {
			opacity: 1;
			-webkit-opacity: 1;
		}
	}
	.qty-badge {
		position: absolute;
		right: 0;
		top: 0;
		z-index: 10;
		text-align: center;
		color: #fff;
		width: 24px;
		line-height: 28px;
		font-size: 13px;
		font-size: 0.8125rem;
		opacity: 0;
		-webkit-opacity: 0;
		filter: alpha(opacity=0);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		span {
			position: relative;
			z-index: 2;
		}
	}
	.qty-badge:before {
		position: absolute;
		top: 0;
		right: 0;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		pointer-events: none;
		border-color: rgba(190, 144, 30, 0);
		border-bottom-color: #be901e;
		border-width: 28px;
		margin-top: -28px;
		margin-right: -28px;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
		z-index: 1;
	}
}
.food-item:hover {
	.ingredient {
		opacity: 1;
		visibility: visible;
	}
}
small {
	font-size: 80%;
}
.food-list {
	direction: rtl;
	float: right;
	width: 100%;
	padding: 0 15px;
	min-height: 550px;
	overflow: hidden;
}
@media only screen and (min-width: 992px) {
	.food-list {
		padding: 0;
		.food-item {
			width: 33.3%;
		}
	}
}
@media only screen and (min-width: 650px) {
	.food-item {
		padding: 10px;
	}
}
