$zindex-navbar:            1100 !default;
$zindex-dropdown:          1100 !default;
$zindex-navbar-fixed:      1130 !default;
$zindex-modal:             1140 !default;
$zindex-popover:           1160 !default;
$zindex-tooltip:           1170 !default;