$icomoon-font-path: "fonts" !default;


$fo-add-restaurant: "\e900";
$fo-alert: "\e901";
$fo-area: "\e902";
$fo-angle-down: "\e903";
$fo-angle-left: "\e904";
$fo-angle-right: "\e905";
$fo-angle-up: "\e906";
$fo-bell: "\e907";
$fo-bookmark: "\e908";
$fo-bookmark-filled: "\e909";
$fo-building: "\e90a";
$fo-camera: "\e90b";
$fo-cart: "\e90c";
$fo-cash: "\e90d";
$fo-clock: "\e90f";
$fo-comment: "\e910";
$fo-credit: "\e911";
$fo-cross: "\e912";
$fo-delivery: "\e913";
$fo-disconnect: "\e914";
$fo-discount: "\e915";
$fo-dish: "\e916";
$fo-edit: "\e917";
$fo-empty-bag: "\e918";
$fo-failed: "\e919";
$fo-filter: "\e91a";
$fo-foodiran: "\e91b";
$fo-gallery: "\e91c";
$fo-gps: "\e91d";
$fo-guid: "\e91e";
$fo-headset: "\e91f";
$fo-home: "\e920";
$fo-info: "\e921";
$fo-lock: "\e922";
$fo-bag: "\e923";
$fo-settings: "\e924";
$fo-popup: "\e925";
$fo-mail: "\e926";
$fo-map: "\e927";
$fo-megaphone: "\e928";
$fo-minus: "\e929";
$fo-mobile: "\e92a";
$fo-more: "\e92b";
$fo-note: "\e92c";
$fo-online: "\e92d";
$fo-orders: "\e92e";
$fo-packaging: "\e92f";
$fo-pickup: "\e930";
$fo-pin: "\e931";
$fo-plus: "\e932";
$fo-plus-bold: "\e933";
$fo-pos: "\e934";
$fo-refresh: "\e935";
$fo-restaurant: "\e936";
$fo-search: "\e937";
$fo-stop: "\e938";
$fo-stopwatch: "\e939";
$fo-tag: "\e93a";
$fo-telephone: "\e93b";
$fo-terms: "\e93c";
$fo-tick: "\e93d";
$fo-trash: "\e93e";
$fo-user: "\e93f";
$fo-facebook: "\e940";
$fo-gplus: "\e941";
$fo-instagram: "\e942";
$fo-linkedin: "\e943";
$fo-telegram: "\e944";
$fo-twitter: "\e945";
$fo-addtobasket: "\e946";
$fo-menu: "\e947";
$fo-logout: "\e948";
$fo-maximize: "\e949";
$fo-arrow-left: "\e94a";
$fo-share: "\e94b";
$fo-group: "\e94c";
$fo-zoom: "\e94e";
$fo-aparat: "\e94f";
$fo-mail-filled: "\e950";
$fo-alert-filled: "\e951";
$fo-coupon: "\e952";
$fo-copy: "\e953";
$fo-building-f: "\e955";
$fo-home-f: "\e956";
$fo-city: "\e958";
$fo-compass-f: "\e959";
$fo-flag: "\e95a";
$fo-grid-f: "\e95b";
$fo-list-f: "\e95c";