$icomoon-font-family: "myicon" !default;
$icomoon-font-path: "font-icon/fonts" !default;

$icon-checkmark: "\e900";
$icon-shopping-cart: "\e901";
$icon-user: "\e902";
$icon-add_box: "\e146";
$icon-add_circle: "\e147";
$icon-control_point: "\e3ba";
$icon-add_shopping_cart: "\e854";
$icon-arrow_back: "\e5c4";
$icon-arrow_downward: "\e5db";
$icon-arrow_drop_down: "\e5c5";
$icon-arrow_forward: "\e5c8";
$icon-arrow_upward: "\e5d8";
$icon-close: "\e5cd";
$icon-search: "\e903";
$icon-bookmark: "\e904";

