@import "../fonts/iransans.woff.scss";
@import "../fonts/iransans.woff2.scss";
html{
    font-size: 100%;
}
body{
    font-family: 'IRANSans', Tahoma;
    font-weight: 400;
    line-height: 1.7;
    font-size: 14px;
    padding: 0; 
}