{
  "presets": [
    ["@babel/preset-env", { "modules": false }],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "@babel/plugin-proposal-class-properties",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    [
      "babel-plugin-styled-components",
      {
        "minify": true,
        "transpileTemplateLiterals": true
      }
    ],
    ["@babel/plugin-transform-modules-commonjs"],
    "transform-react-remove-prop-types",
    "@babel/plugin-transform-react-constant-elements",
    "@babel/plugin-transform-react-inline-elements",
    "@babel/plugin-transform-runtime",

    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-logical-assignment-operators",
    "@babel/plugin-proposal-do-expressions"
  ]
}
