logs
*.log
*.woff.scss
*.woff2.scss
*.svg.scss
npm-debug.log*
.DS_Store
__MACOSX
./src/styles/fonts
./src/styles/fonts/delino-icon_v1.2.3.svg.scss	
./src/styles/fonts/delino-icon_v1.2.3.woff.scss
./src/styles/fonts/delino-icon_v1.2.3.woff2.scss
coverage
node_modules
build
lib
dist
./dist
./lib
yarn-error.log
.env.local
./.firebase
.env.development.local
.env.test.local
.env.production.local
.vs_code
./lastApi.text
./src/services/config.js
src/services/config.js
lastApi.text
package-lock.json

*.lock
