logs
*.log
npm-debug.log*
.DS_Store
__MACOSX
./src/styles/fonts
coverage
node_modules
build
dist
yarn-error.log
.env.local
.env.development.local
.env.test.local
.env.production.local
.vs_code
./lastApi.text
./src/services/config.js
src/services/config.js
lastApi.text
package-lock.json

*.lock
