.rest-menu-holder {
  padding: 40px 0 50px;
}
.right-side-holder {
  > div {
    margin-bottom: 20px;
  }
}
.tab-content-holder {
  position: relative;
}
.readytomove {
  position: sticky;
  top: 30px;
}
.menu-tab {
  display: flex;
  direction: rtl;
  position: relative;
  z-index: 2;
  top: 1px;
  .active:hover {
    color: inherit;
  }
  .active {
    border-width: 1px 1px 0;
    border-style: solid;
    border-color: #e4e4e4;
    background-color: #fff;
  }
  a {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 10px 15px;
    text-align: center;
    color: #333;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;

    &:active,
    &:hover {
      outline: 0;
    }
    &:hover {
      color: #ffbd41;
    }
  }
}
@media only screen and (min-width: 992px) {
  .rest-menu-holder {
	padding: 160px 0 50px;
    .right-side-holder {
      width: 95%;
      margin: 0 auto;
      min-height: 600px;
    }
  }
  .tab-content-holder {
    .rest-info {
      .left-box {
        width: 50%;
        padding-left: 10px;
      }
      .right-box {
        width: 50%;
      }
    }
  }
}
@media only screen and (min-width: 650px) {
  .menu-tab {
    a {
      -webkit-flex-grow: 0;
      -moz-flex-grow: 0;
      flex-grow: 0;
    }
  }
}
