.add-coupon {
	aside {
		position: relative;
		border: 1px solid #e4e4e4;
		background-color: #fff;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		overflow: hidden;
		margin-bottom: 10px;
		height: 42px;
	}

	input {
		position: absolute;
		right: 0;
		top: 0;
		border: none;
		background: none;
		padding: 0 10px;
		text-align: right;
		font-size: 16px;
		font-size: 1rem;
		text-transform: uppercase;
		height: 40px;
		background-color: #fff;
		width: 100%;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		-webkit-transition: border-color 0.25s;
		-moz-transition: border-color 0.25s;
		-o-transition: border-color 0.25s;
		transition: border-color 0.25s;
		font-family: Arial;
	}

	button {
		position: absolute;
		left: 0;
		top: 0;
		padding: 6px 15px;
		height: 40px;
		width: 85px;
		margin: 0;
		background-color: #231f20;
		-webkit-border-radius: 5px 0 0 5px;
		-moz-border-radius: 5px 0 0 5px;
		border-radius: 5px 0 0 5px;
	}
}
