.add-coupon {
  aside {
    position: relative;
    height: 42px;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    overflow: hidden;
  }
  input {
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    font-family: Arial;
    text-align: right;
    font-size: 16px;
    font-size: 1rem;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-transition: border-color 0.25s;
    -moz-transition: border-color 0.25s;
    -o-transition: border-color 0.25s;
    transition: border-color 0.25s;
  }
  button {
    position: absolute;
    left: 0;
    top: 0;
    height: 40px;
    width: 85px;
    padding: 6px 15px;
    margin: 0;
    background-color: #231f20;
    border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
  }
}

.rest-cart {
  position: sticky;
  float: right;
  top: 20px;
  width: 100%;
  background-color: white;
  .cross-icon {
    position: absolute;
    padding: 10px;
    z-index: 4000;
  }
  .header-cart {
    position: relative;
    width: 100%;
    float: right;
    padding: 10px;
    direction: rtl;
    border-bottom: 1px solid #e4e4e4;
    h3 {
      float: right;
      margin: 0;
      font-size: 17px;
    }
    .cart-size {
      &::before {
        content: '(';
      }
      &::after {
        content: ')';
      }
    }
  }
  .cart-holder-inner {
    direction: rtl;
    width: 100%;
    float: right;
  }
  .empty-cart {
    display: block;
    text-align: center;
    padding: 50px 0;
    span {
      color: #ccc;
      display: block;
    }
    .fo {
      color: #ccc;
      font-size: 80px;
      font-size: 5rem;
      display: inline-block;
      margin-bottom: 10px;
    }
  }
}

@media only screen and (min-width: 415px) {
  .empty-cart {
    max-width: 350px;
  }
}

@media only screen and (min-width: 992px) {
  .cart-quantity {
    float: left;
    direction: ltr;
    .fo {
      font-size: 24px;
      font-size: 1.5rem;
      display: inline-block;
      vertical-align: middle;
    }
  }
  .rest-cart {
    border: 1px solid #e4e4e4;
    > .header-cart {
      h3 {
        line-height: normal;
      }
    }
  }
}
@media only screen and (min-width: 415px) {
}

.add-coupon-holder .anc-coupon-form {
  margin-top: 10px;
  display: inline-block;
  color: #be901e;
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
}
.cart-bottom {
  float: left;
  width: 100%;
  padding: 15px;
  direction: rtl;
  font-size: 13px;
  font-size: 0.8125rem;
  .row {
    width: 100%;
    margin-bottom: 10px;
    label {
      width: 50%;
      float: right;
    }
    span {
      width: 40%;
      text-align: left;
      font-weight: 400;
      font-family: 'IRANSans', Tahoma;
      b {
        position: relative;
        font-weight: 400;
        white-space: nowrap;
      }
    }
  }
  .cart-total {
    margin-bottom: 10px;
    text-align: right;
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
    font-weight: 700;
    label {
      float: right;
      font-size: 0.8125rem;
    }
    span {
      font-size: 1rem;
      width: auto;
      text-align: left;
    }
    b {
      font-weight: 700;
    }
  }
}
.add-coupon-holder {
  height: 47px;
  text-align: center;
}
.cart-list-holder {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  max-height: 419px;
  ::-webkit-scrollbar {
    width: 50px;
  }
  ::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
  }
}

@media screen and (min-width: 767px) {
  .rest-menu-holder {
    .left-side-holder {
      position: sticky !important;
      width: 28% !important;
      transform: translate3d(0, 0px, 0px) !important;
      .rest-cart {
        height: auto !important;
        position: -webkit-sticky;
        position: sticky;
        top: 20px;
        width: 85%;
        background-color: white;
        margin: 0 auto;
        .cross-icon {
          display: none;
        }
      }
    }
    .cartshowMobile {
      display: none;
    }
    .wrapper {
      width: 71%;
      float: right;
    }
  }
}

.rest-menu-holder {
  .left-side-holder {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    z-index: 6000;
    transform: translate3d(-500px, 0, 0px);
    transition: all ease-out 0.5s;
    z-index: 2000;
    .rest-cart {
      height: 100%;
    }

    @keyframes animation-close {
      0% {
        opacity: 0.3;
      }
      25% {
        opacity: 0.5;
      }
      50% {
        opacity: 0.7;
      }
      75% {
        opacity: 0.8;
      }
      100% {
        opacity: 1;
      }
    }
    &.show-cart {
      @keyframes animation-open {
        0% {
          opacity: 0.5;
        }
        50% {
          opacity: 0.7;
        }
        75% {
          opacity: 0.8;
        }
        100% {
          opacity: 1;
        }
      }
      animation: animation-open 0.5s cubic-bezier(0.5, 0, 0.5, 1);
      transform: translate3d(-0px, 0, 0px);
    }
    &.hide-cart {
      animation: animation-close 0.5s cubic-bezier(0.5, 0, 0.5, 1);
    }
  }
  .cartshowMobile {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    color: white;
    direction: rtl;
    background-color: #ffbd41;
    .content {
      padding: 10px;
      .totalProduct {
        &::before {
          content: '(';
        }
        &::after {
          content: ')';
        }
      }
    }
  }
}
