.test {
  color: red;
}
.image-background {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  &.active {
    .my_img {
      filter: blur(3px) brightness(0.8);
      transform: scale(1.2);
      transition: 0.2s;
    }
  }
  .my_img {
    background-size: cover;
    background-position: -211px 0px;
    background-color: gainsboro;
    background-repeat: no-repeat;
    background-image: url(https://recipes-secure-graphics.grocerywebsite.com/0_GraphicsRecipes/4589_4k.jpg);
    width: 100%;
    height: 100%;
    filter: brightness(0.8);
    transition: 0.2s;
  }
  .inner_content {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    .title {
      direction: rtl;
      width: 100%;
      position: absolute;
      top: 150px;
      font-size: 25px;
      font-weight: bold;
      color: white;
      span {
        width: 270px;
        display: block;
        margin: 0 auto;
      }
    }
    .registerButton {
      width: 100%;
      position: absolute;
      bottom: 200px;
      .registerbtn {
        width: 230px;
        margin: 0 auto;
        padding: 20px 0px;
        display: block;
      }
    }
  }
}

@media only screen and (min-width: 415px) {
  .image-background {
    .my_img {
      background-position-x: 0px;
    }
  }
}
