.spinner.lds-ring {
	position: relative;
    top: 50%;
    left: 50%;
    width: 64px;
    height: 64px;
    display: inline-block;
    border-radius: 5px;
  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    height: 51px;
    margin: 6px;
    border: 6px solid #be901e;
    border-radius: 50%;
    animation: lds-ring 1.4s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #be901e transparent transparent transparent;
    &:nth-child(1) {
      animation-delay: -0.45s;
    }
    &:nth-child(2) {
      animation-delay: -0.3s;
    }
    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }

  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
