.food-list {
  direction: rtl;
  float: right;
  width: 100%;
  padding: 0 15px;
  min-height: 550px;
  overflow: hidden;
  position: relative;

  .not-found {
    position: absolute;
    top: 30px;
    font-size: 20px;
    color: #b1b1b1;
  }
}
