.sort {
  direction: rtl;
  padding: 10px 40px;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    align-items: center;
    display: inline-block;
    li {
      display: inline;
    }
  }
}
