@mixin anc {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
.anc {
  @include anc();
}
.anc-coupon {
  @include anc();
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  display: inline-block;
  color: #be901e;
  margin-top: 10px;
}
.anchor-close {
  outline: none;
  border: none;
  background-color: white;
  width: 40px;
  height: 40px;
  color: #333;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  font-size: 0.875rem;
}
