@import '../../styles/base/variable.scss';

@mixin btn-base() {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-family: $font-family-delino;
  direction: rtl;
  background: none;
  border: none;
  outline: 0;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  color: $color-white;
  transition: $transition;
  padding: 8px 20px;

  &[disabled] {
    cursor: default;
  }
}

@mixin btn() {
  @include btn-base();
  border-radius: 5px;

  &:active {
    transform: scale(0.98);
  }
}

[class^='btn-'],
[class*='btn-'] {
  @include btn();
}

@mixin btn-outline($border-color: $color-white, $text-color: $color-white) {
  // background: none;
  border: 1px solid $border-color;
  color: $border-color;
  background: none;
  // &:hover {
  //   background-color: $border-color;
  //   // Research
  //   // color: white or black based on border-color;
  // }

  &[disabled] {
    border-color: $color-gray-dlight;
    color: $color-gray-medium;

    &:hover {
      background: none;
    }
  }
}
@mixin btn-bgcolor($bg: $color-primary) {
  background-color: $bg;

  &:hover {
    background-color: darken($bg, 10%);
    // @debug lightness();
    //  color: white or black based on border-color;
    // Research
  }

  &[disabled] {
    background-color: $color-gray-light;
  }
}

.btn-primary {
  @include btn-bgcolor();
}

.btn-white {
  @include btn-bgcolor($color-white);
  color: black;
}

.btn-outline-primary {
  @include btn-outline($color-gray-light);
}

.btn-outline-black {
  @include btn-outline($color-black);
}

// [class^='qty-'],
// [class*=' qty-']
.qty-add,
.qty-remove {
  width: 26px;
  height: 26px;
  line-height: 24px;
  text-align: center;
  color: $color-primary;
  border: 1px solid $color-primary;
  background: none;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  transition: $transition;

  &:hover,
  &.active {
    background: $color-primary;
    color: $color-white;
  }
  &:active {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
}

.anc-cart {
  h3 {
    float: right;
    margin: 0;
    direction: rtl;
    white-space: nowrap;
    font-weight: 400;
  }
  b {
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    &:before {
      content: '(';
    }
    &:after {
      content: ')';
    }
  }
  .total-price {
    position: absolute;
    left: 15px;
    top: 50%;
    min-width: 30px;
    height: 30px;
    line-height: 32px;
    padding: 0 10px;
    text-align: center;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    direction: rtl;
  }
  i {
    font-size: 1.5rem;
  }
}

.anc-carousle {
  background: none;
  padding: 0px 16px;
}

.anc-cart {
  font-family: 'IRANSans', Tahoma;
  font-size: 17px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 12px 20px;
  color: #fff;
  background-color: #be901e;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  z-index: 1190;
}

// .main-header {
//   .submit {
//     width: 100%;
//     height: 45px;
//   }
// }

// .disabled {
//   cursor: default;
//   background-color: #bebebe;
// }
// @media only screen and (min-width: 767px) {
//   .submit {
//     max-width: 280px;
//   }
// }
// @media only screen and (min-width: 992px) {
//   .food-item {
//     .addButton {
//       &:hover,
//       &:focus,
//       &:visited {
//         // background-color: #be901e;
//         // color: #fff;
//       }
//     }
//   }
// }

@media only screen and (max-width: 991px) {
  .anc-cart {
    /* -webkit-transform: translateY(0); */
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
