.Header {
  font-size: 20px;
  text-align: center;
  padding: 5px;
}
.test {
  width: 600px;
  height: 400px;
  background: red;
}
// .orders {
//   width: 295px;
//   position: fixed;
//   height: 300px;
//   background-color:#eeeeee;
//   border-radius: 10px;
//   margin-top: 135px;
//   margin-left: 5px;
//   z-index: 100;
// }
// .food_section {
//   position: relative;
//   top: 170px;
//   .food_section-info {
//     width: 100%;
//     margin: 0 auto;
//     display: inline-block;
//     text-align: center;
//   }
//   .food_section-last {
//     background-color: #eeeeee;
//     width: 100%;
//     font-size: 20px;
//     display: inline-block;
//     .food_section-last-carticon {
//       font-size: 20px;
//       border: none;
//       background: transparent;
//       color: rgb(102, 141, 44);
//     }
//     .food_section-last-carticon:focus {
//       outline: none;
//     }
//     .food_section-last-price {
//       float: right;
//       text-align: right;
//       direction: rtl;
//       padding: 5px 4px;
//     }
//     .food_section-last-cart {
//       float: left;
//     }
//   }
//   .food_section-description {
//     width: 100%;
//     background-color: #ffffff;
//     text-align: right;
//     direction: rtl;
//     font-size: 1.2rem;
//     .food_section-description-index {
//       padding: 8px 0px;
//     }
//     .food_section-description-title {
//       margin: 0;
//       padding: 7px 7px;
//     }
//     @media only screen and (max-width: 600px) {
//       font-size: 3rem;
//       float: right;
//       width: 50%;
//     }
//   }
//   .food_section-infobox {
//     padding: 10px;
//     margin: 20px;
//     border-radius: 6px;
//     transition: all 0.5s;
//   }
//   .food_section-category {
//     border: 1px solid #eeeeee;
//     border-radius: 9px;
//     display: inline-block;
//     transition: all 0.5s;
//     overflow: hidden;
//     margin: 8px 56px;
//     .food_section-category:hover,
//     .food_section-category:active {
//       -webkit-box-shadow: 14px 29px 46px 0px rgba(0, 0, 0, 0.76);
//       -moz-box-shadow: 14px 29px 46px 0px rgba(0, 0, 0, 0.76);
//       box-shadow: 14px 29px 46px 0px rgba(170, 170, 170, 0.76);
//     }
//     .food_section-category__img {
//       width: 100%;
//       overflow: hidden;
//       cursor: zoom-in;
//     }
//   }
//   .food_section__caption {
//     font-size: 17px;
//     text-align: center;
//     display: block;
//     padding: 9px;
//   }
//   @media only screen and (max-width: 600px) {
//     width: 100%;
//   }
//   .food_section-img {
//     @media only screen and (max-width: 600px) {
//       float: left;
//       width: 50%;
//     }
//   }
// }
// .fa-shopping-cart {
//   cursor: pointer;
// }
// .price-number {
//   float: left;
//   margin-left: 40px;
// }

// //mobile style

// @media only screen and (max-width: 600px) {
//   .food_section {
//     position: relative;
//     top: 90px;
//     width: 100%;
//     .food_section-info {
//       width: 100%;
//       margin: 0 auto;
//       display: inline-block;
//       text-align: center;
//     }
//     .food_section-last {
//       background-color: #eeeeee;
//       width: 100%;
//       font-size: 20px;
//       display: inline-block;
//       .food_section-last-carticon {
//         background: transparent;
//         border: none;
//         width: 100%;
//         color: rgb(102, 141, 44);
//       }
//       .food_section-last-price {
//         float: right;
//         text-align: right;
//         direction: rtl;
//         padding: 5px 4px;
//         width: 40%;
//       }
//       .food_section-last-cart {
//         float: left;
//         padding: 7px 0px;
//         width: 60%;
//         font-size: 25px;
//         padding-bottom: 6px;
//       }
//     }
//     .food_section-description {
//       width: 50%;
//       background-color: #ffffff;
//       text-align: right;
//       direction: rtl;
//       font-size: 3rem;
//       float: right;
//       .food_section-description-index {
//         font-size: 15px;
//         padding: 8px 0px;
//       }
//       .food_section-description-title {
//         margin: 0;
//         padding: 7px 7px;
//       }
//     }
//     .food_section-infobox {
//       padding: 10px;
//       margin: 20px;
//       border-radius: 6px;
//       transition: all 0.5s;
//     }
//     .food_section-category {
//       border: 1px solid #eeeeee;
//       border-radius: 9px;
//       display: inline-block;
//       transition: all 0.5s;
//       overflow: hidden;
//       margin: 10px auto;
//       .food_section-category:hover,
//       .food_section-category:active {
//         -webkit-box-shadow: 14px 29px 46px 0px rgba(0, 0, 0, 0.76);
//         -moz-box-shadow: 14px 29px 46px 0px rgba(0, 0, 0, 0.76);
//         box-shadow: 14px 29px 46px 0px rgba(170, 170, 170, 0.76);
//       }
//       .food_section-category__img {
//         width: 100%;
//         overflow: hidden;
//         cursor: pointer;
//       }
//     }
//     .food_section__caption {
//       font-size: 17px;
//       text-align: center;
//       display: block;
//       padding: 9px;
//     }
//     .food_section-img {
//       float: left;
//       width: 50%;
//     }
//   }
//   .price-number {
//     float: left;
//     margin-left: 40px;
//   }
// }

.food_Box {
  border: 1px solid #eeeeee;
  border-radius: 9px;
  display: inline-block;
  transition: all 0.5s;
  overflow: hidden;
  margin: 10px auto;
}

.food_Box:hover,
.food_Box:active {
  -webkit-box-shadow: 14px 29px 46px 0px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: 14px 29px 46px 0px rgba(0, 0, 0, 0.76);
  box-shadow: 14px 29px 46px 0px rgba(170, 170, 170, 0.76);
}

.boxImage {
  width: 50%;
  float: left;
}
img {
  fill: white;
  border-radius: 9px;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}
.description {
  direction: rtl;
  width: 50%;
  float: right;
  padding: 5px;
}
.last {
  background-color: #eeeeee;
  width: 100%;
  font-size: 20px;
  float: right; // display:inline-block
  img{
    cursor: pointer;
    width: 15px;
    height: 15px;
  }
}
.price {
  float: right;
  text-align: right;
  direction: rtl;
  padding: 5px 4px;
  width: 40%;
}
.addBtn {
  padding: 7px 0px;
  width: 60%;
  font-size: 25px;
  padding-bottom: 6px;
}
.desimg {
  overflow: auto;
  padding: 8px;
}
.quantity{
  font-size: 20px;
}
.quantity-holder{
  margin-left: 10px;
}
.qty-minusBtn{
  display: inline;
}
@media only screen and (min-width:600px){
  .food_section{
    padding: 10px;
      margin: 20px;
    border-radius: 6px;
  }
  .food_Box {
    border: 1px solid #eeeeee;
    border-radius: 9px;
    display: inline-block;
    transition: all 0.5s;
    overflow: hidden;
    margin: 8px 56px;

  }
  .boxImage {
    text-align: center;
    width: 100%;
  }
  img {
    margin: 0 auto;
    width: 90%;
  }
  .description {
    width: 100%;
    float: right;
    padding: 5px 9px ;
  }
  .nullImage{
    width: 71%;
  }


}