.Header {
  font-size: 20px;
  text-align: center;
  padding: 5px;
}
.test {
  width: 600px;
  height: 400px;
  background: red;
}
.food_Box {
  position: relative;
  border: 1px solid #eeeeee;
  border-radius: 9px;
  display: inline-block;
  transition: all 0.5s;
  overflow: visible;
  margin: 10px auto;
}
.discount {
  text-align: center;
  color: white;
  top: -10px;
  width: 40px;
  height: 40px;
  position: absolute;
  -webkit-border-top-left-radius: 9px;
  -webkit-border-top-right-radius: 9px;
  -webkit-border-bottom-right-radius: 204px;
  -moz-border-radius-topleft: 9px;
  -moz-border-radius-topright: 9px;
  -moz-border-radius-bottomright: 204px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 204px;
  background: linear-gradient(-60deg, #ef4123, #ef2379);
}

.food_Box:hover,
.food_Box:active {
  -webkit-box-shadow: 14px 29px 46px 0px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: 14px 29px 46px 0px rgba(0, 0, 0, 0.76);
  box-shadow: 14px 29px 46px 0px rgba(170, 170, 170, 0.76);
}

.boxImage {
  width: 50%;
  float: left;
}
img {
  fill: white;
  border-radius: 9px;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}
.description {
  direction: rtl;
  width: 50%;
  float: right;
  padding: 5px;
}
.last {
  position: relative;
  background-color: #eeeeee;
  width: 100%;
  font-size: 20px;
  float: right; // display:inline-block
  img {
    cursor: pointer;
    width: 15px;
    height: 15px;
  }
}
.unavailableText {
  color: #888;
  border-radius: 20px;
  border: 1px solid #eeeeee;
  font-size: 14px;
  background-color: #ffffff;
  padding: 0px 10px;
}
.price {
  float: right;
  text-align: right;
  direction: rtl;
  padding: 5px 4px;
  width: 50%;
}
.addBtn {
  padding: 7px 0px;
  width: 60%;
  font-size: 25px;
  padding-bottom: 6px;
}
.desimg {
}
.quantity {
  font-size: 20px;
}
.quantity-holder {
  margin-left: 10px;
}
.qty-minusBtn {
  display: inline;
}

@media only screen and (min-width: 600px) {
  .food_section {
    padding: 10px;
    margin: 20px;
    border-radius: 6px;
  }
  .food_Box {
    border: 1px solid #eeeeee;
    border-radius: 9px;
    display: inline-block;
    transition: all 0.5s;
    margin: 8px 56px;
    position: relative;
    overflow: visible;
  }

  .boxImage {
    text-align: center;
    width: 100%;
  }
  .boxImageDiscount {
    filter: brightness(0.5);
  }
  .discountBox {
    top: 0;
    right: 30px;
    color: red;
    transform: rotate(30deg);
  }
  img {
    margin: 0 auto;
    width: 100%;
  }
  .description {
    position: relative;
    width: 100%;
    float: right;
    padding: 5px 9px;
  }
  .nullImage {
    width: 71%;
  }
  .discount {
    right: 0px;
    background: linear-gradient(-60deg, #ef4123, #ef2379);
    -webkit-border-top-left-radius: 9px;
    -webkit-border-top-right-radius: 9px;
    -webkit-border-bottom-left-radius: 204px;
    -moz-border-radius-topleft: 9px;
    -moz-border-radius-topright: 9px;
    -moz-border-radius-bottomleft: 204px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 5px;
  }
}
