// .shop {
//   position: fixed;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   z-index: 6000;
//   visibility: hidden;
//   opacity: 0;

//   &.active-shop {
//     visibility: visible;
//     opacity: 1;
//   }
// }
// .header-cart {
//   padding-top: 9px;
//   border-bottom: 1px solid #eeeeee;
//   padding-bottom: 15px;
//   background: linear-gradient(-60deg, #ef4123, #ef2379);
//   color: white;
// }
// .cartBox {
//   position: absolute;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   width: 350px;
//   background: white;
//   transform: translate(-110%, 0);

//   .active-shop & {
//     transform: translate(0, 0);
//   }
//   .close-animation &{
//     transform: translate(-110%, 0);
//   }
// }

// .lightBox {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   opacity: 0;
//   background-color: rgba(#000, 0.7);

//   .active-shop & {
//     opacity: 1;
//   }

//   .close-animation &{
//     opacity: 0;
//   }
// }
// .cart-text {
//   text-align: right;
//   float: right;
//   width: 85%;
//   font-size: 30px;
//   line-height: 12px;
//   padding: 10px 5px;
//   .cart-text-icon {
//     float: right;
//     padding-right: 3px;
//     padding-left: 10px;
//   }
//   .cart-text > i {
//     float: right;
//   }
// }
// .orderFood {
//   direction: rtl;
// }
// .totalPrice {
//   padding: 15px;
//   label {
//     float: right;
//   }
// }
// .finalOrder {
//   border-top: 1px solid #eeeeee;
//   padding-top: 10px;
//   text-align: center;
// }
// //its for image in cart box for free
// .img-free-cart{
//   width: 350px;
//   height: 177px;
//   fill: red;
// }
// .cart-bottom {
// }
// .itemOrder {
//   border-bottom: 1px solid #eeeeee;
//   padding: 5px 10px;
// }
// @keyframes close {
//   0% {
//     opacity: 1;
//     width: 350px;
//   }
//   100% {
//     opacity: 0;
//     width: 0px;
//   }
// }
// @media only screen and (max-width: 600px) {
//   .totalPrice {
//     font-size: 20px;
//   }
//   .cartBox {
//     width: 100%;
//   }
//   @keyframes open {
//     0% {
//       opacity: 0;
//       width: 0px;
//     }
//     100% {
//       opacity: 1;
//       width: 100%;
//     }
//   }
//   .itemOrder {
//     font-size: 15px;
//   }
// }

.shop {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 4500;
  top: 0px;
  .cartBox {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: white;
  }

  .header-cart {
    position: relative;
    padding-top: 9px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 15px;
    background: linear-gradient(-60deg, #ef4123, #ef2379);
    color: white;
  }
  .cart-text {
    position: absolute;
    direction: rtl;
    text-align: right;
    float: right;
    width: 80%;
    font-size: 30px;
    line-height: 12px;
    padding: 4px 11px;
    top: 0;
    right: 5px;
    .shopping-cart-icon{
      width: 20px;
    }
  }
}
.close-icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.finalOrder {
  border-top: 1px solid #eeeeee;
  padding-top: 10px;
  text-align: center;
}
@media only screen and (min-width: 600px) {
  .cartBox {
    width: 22%;
  }
}
