.basketBox{
  position: relative;
  .basketHeader{
    border: 1px solid #e0e0e0;
    background: #fff;
    margin-bottom: 15px;
    border-radius: 4px 4px 0 0;
    .inner{
      text-align: center;
      cursor: pointer;
      padding: 9px 4px;
      background: #fafafa;
      border-radius: 4px 4px 0 0;
      color: black;
      height: 45px;
    }
  }
  .emptyBasket{
    background: #f2f2f2;
    border: 1px solid #c7c7c7;
    text-align: center;
    font-size: 13px;
    border-radius: 4px;
    height: 200px;
  }
}
.shop {
  position: fixed;
  width: 25%;
  height: 100%;
  z-index: 4500;
  top: 0px;
  .cartBox {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: white;
  }

  .header-cart {
    position: relative;
    padding-top: 9px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 15px;
    background: linear-gradient(-60deg, #ef4123, #ef2379);
    color: white;
    .icon-close {
      color: #eeeeee;
    }
    .icon-shopping-cart {
      font-size: 23px;
    }
  }
  .cart-text {
    position: absolute;
    direction: rtl;
    text-align: right;
    font-size: 23px;
    top: 10px;
    right: 10px;
    .shopping-cart-icon {
      width: 20px;
    }
  }
}
.close-icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.finalOrder {
  border-top: 1px solid #eeeeee;
  padding-top: 10px;
  text-align: center;
}
@media only screen and (min-width: 600px) {
  .cartSection{
    width: 250px;
    float: left;
    height: 400px;
    background: white;
    top: 0px;
    // position: sticky;
    // top: 10px;
    // transition: top 0.5s ease 0s;     
    position:sticky !important;
    position: -webkit-sticky;
  }
  .shop {
    .cartBox {
      width: 100%;
    }
  }
  .cartTest{
    top:50px;
    z-index: 6000;
    position: fixed;
    width: 300px;
    height: 100%;
    background: #eeeeee;
  }
}
