.popup {
  // visibility: visible;
  // width: 100%;
  // height: 100vh;
  // position: fixed;
  // top: 0;
  // right: 0;
  // background-color: rgba(black, 0.5);
  // z-index: 4000;
  .popup__content {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 4000;
    background: white;
    .popup__content-img {
      width: 90%;
      .popup__content-img--inner {
        width: 100%;
      }
    }
    .popup__content-title {
      font-size: 3.5rem;
    }
    .popup__content-text {
      width: 90%;
    }
    .popup__content-ingredient {
      padding-top: 10px;
      font-size: 15px;
      color: rgb(116, 114, 114);
    }
    .bottomBox {
      color: black;
      position: relative;
      height: 70%;
      // background: linear-gradient(-60deg, #ef4123, #ef2379);
      background: white;
      top: -45px;
      border-top-right-radius: 35px;
      border-top-left-radius: 35px;
      .ingredient {
        font-size: 15px;
        padding-top: 29px;
      }
      .discount-popup {
        border: none;
        padding-top: 10px;
        top: 12px;
        left: 12px;
        position: absolute;
      }
      .price {
        font-size: 24px;
        float: right;

        text-align: right;
        direction: rtl;
        padding: 5px 0px;
        width: 50%;
      }
      .parent-btn {
        width: 100%;
        top: 88%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        position: absolute;
      }
    }
    .header {
      position: absolute;
    }
  }
}
.imageFood {
  width: 100%;
}
.disactive {
  background: #d2d2d2 !important ;
  cursor: default !important ;
}
.details {
  padding: 25px 33px;
  direction: rtl;
}

.quantity-holder {
  margin: 5px 19px;
  float: left;
}
.countcart {
  background: linear-gradient(-60deg, #ef4123, #ef2379) !important;
  direction: rtl;
  border-radius: 10px;
  padding: 1px;
  margin: 6px 10px;
}
.count-span {
  color: white;
}
footer {
  display: inline-block;
  width: 100%;
}
.count-span {
  font-size: 20px;
  padding: 0px 15px;
}
.footerpopup {
  overflow: hidden;
}
.closeImg {
  width: 18px;
  height: 18px;
  color: #eee;
}
.addModal {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
@media only screen and (min-width: 600px) {
  .popup {
    .popup__content {
      position: fixed;
      top: 50%;
      right: 50%;
      width: 567px;
      height: 567px;
      -webkit-transform: translate(50%, 50%);
      transform: translate(50%, -50%);
    }
  }
}
.modal {
  position: fixed;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin-left: -50;
  margin-top: -50;
  z-index: 0;
}
