
.foodBox {
  background: #f1f1f1;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  z-index: 1000;
  .foodBox-inner {
    overflow-y: auto;
    padding: 20px 20px 0 20px;
    height: 639px;
  }
}

.lds-dual-ring {
  position: absolute;
  display: inline-block;
  transform: translate(50%, 50%);
  top: 50%;
  right: 50%;
  width: 64px;
  height: 64px;
  background: white;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #ef4123;
  border-bottom-color: white;
  animation: lds-dual-ring 0.28s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  position: absolute;
  top: 55%;
  right: 50%;
  text-align: center;
}

.shopCart {
  width: 0%;
}

@media only screen and (min-width: 600px) {
  .shopCart {
    position: fixed;
    background: #eeeeee;
    width: 22%;
    height: 100%;
  }
  .foodBox {
    border-radius: 0;
    width: 75%;
    border: none;
    margin: 0 auto;
    margin-right: 0px;
    z-index: unset;
    .foodBox-inner {
      width: 85%;
      margin: 0 auto;
      overflow-y: visible;
      padding: 0;
      height: auto;
    }
  }
}
.FoodBox{
  background-color: #fff;
  border: 1px solid #d9d9d9;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  .foodBox-inner{

    // >.active{
    //   display: block;
    //   visibility: visible;
    // }
  }
}
.foodPack{
  margin-bottom: 50px;
  .Header{
    font-size: 15px;

    margin-top: 10px;
    margin-bottom: 20px;
    color: #505050;
    text-align: center;
    font-weight: 600;
  }
}

@media only screen and (min-width: 1024px) and (max-width:1600px) {
  .col-1-of-3 {
    width: calc((100% - 6 * 50px) / 3);
    margin: 20px 50px;
  }
  .foodBox {
    .foodBox-inner {
      width: 90%;
    }
  }
}
@media only screen and (min-width: 1200px) {
  .col-1-of-3 {
    width: calc((100% - 6 * 50px) / 3);
    margin: 20px 50px;
  }
  .foodBox {    
    .foodBox-inner {
      width: 75%;
    }
  }

}
