.foodBox {
  position: relative;
  top: 98px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  z-index:1000;
  background: white;
  .foodBox-inner {
    overflow-y: auto;
    padding: 20px 20px 0 20px;
    height: calc(100vh - 146px);
  }
}
.lds-dual-ring {
  position: absolute;
  display: inline-block;
  transform: translate(50%,50%);
  top: 50%;
  right: 50%;
  width: 64px;
  height: 64px;
  background: white;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #ef4123;
  border-bottom-color: white;
  animation: lds-dual-ring .28s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  position: absolute;
  top: 55%;
  right: 50%;
  text-align: center;
}

.shopCart {
  width: 0%;
}

@media only screen and (min-width: 600px) {
  .shopCart {
    position: fixed;
    background: #eeeeee;
    width: 22%;
    height: 100%;
  }
  .foodBox {
    border-radius: 0;
    top: 185px;
    width: 100%;
    border: none;
    margin: 0 auto;
    margin-right: 0px;
  }
}
