.foodBox {
  position: absolute;
  top: 18px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  z-index: 1000;
  margin-top: 175px;
  // margin: 0 auto;
  background: white;
  .foodBox-inner {
    width: 80%;
    margin: 0 auto;
  }
}
.lds-dual-ring {
  position: absolute;
  display: inline-block;
  top: 50%;
  right: 50%;
  width: 64px;
  height: 64px;
  background: white;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #ef4123;
  border-color: #ef4123 transparent #ef4123 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading {
  position: absolute;
  top: 55%;
  right: 50%;
  text-align: center;
}
.shopCart {
  width: 0%;
}

@media only screen and (min-width: 600px) {
  .shopCart {
    position: fixed;
    background: #eeeeee;
    width: 22%;
    height: 100%;
  }
  .foodBox {
    padding: 150px 0px;
    width: 78%;
    margin: 0 auto;
    margin-right: 0px;
  }
}
