.col-1-of-3 {
  // width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .col-1-of-3 {
    width: calc((80% - 6 * 20px) / 3);
    margin: 20px 20px;
  }
}
.fullBox {
  padding-top: 48px;
}
