.col-1-of-3 {
  // width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .col-1-of-3 {
    width: calc((80% - 6 * 20px) / 3);
    margin: 20px 20px;
  }
}
.fullBox {
  background: #F6F6F6;
  padding-top: 48px;
}
.main-content{
  background: #f1f1f1;
}
.resProfile{
  margin-top: 15px;
    margin-bottom: 30px;
}
.main-wrapper{
  direction: rtl;
  position: relative;
}
.row{
  margin-left: -15px;
  margin-right: -15px;
  overflow: auto;
}

.container,
.container-fluid{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 1200px) {

  .container{
  width: 1170px;
  }
}
