.col-1-of-3 {
  // width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .col-1-of-3 {
    width: calc((50% - 2 * 20px) / 2);
  }
}
.fullBox {
  padding-top: 68px;
}
