.header-section {
  position: fixed;
  z-index: 4000;
  width: 100%;
  height: 48px;
  background: #ef4123;
  padding: 12px 0px;
  width: 100%;
  border-bottom: 1px solid white;
}
.header-number {
  font-size: 15px;
}
.search {
  text-align: center;
  direction: rtl;
  width: 97%;
  font-size: 0;
  margin: 0 auto;
  border-radius: 5px;
  padding: 3px 0px;
}
.search__input {
  font-family: "IRANSans", Tahoma;
  font-weight: 400;
  font-size: 20px;
  padding: 5px 23px;
  outline: none;
  border: none;
  width: calc(100% - 50px);
  transition: all 0.4s;
}
.box-input {
  border-radius: 25px;
  border: 2px solid #eeeeee;
  width: 97%;
  font-size: 16px;
  position: relative;
  display: inline-block;
  margin: 0 auto;
  background: white;
  transition: all 0.5s;
}
.box-searchicon {
  display: inline-block;
  margin-left: 6px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  width: 50px;
  height: 100%;
}
.box-input:focus {
  width: 90%;
}
.searchBox {
  overflow: auto;
  padding: 10px 0px;
  margin: 0 auto;
}
input::-webkit-input-placeholder {
  color: rgb(175, 175, 175);
}
.search-img {
  float: right;
  width: 25px;
  color: grey;
}
.shopping-cart-img {
  width: 20px;
}
@media only screen and (min-width: 600px) {
  .searchBox {
    overflow: auto;
    padding: 10px 0px;
    margin: 0 auto;
    width: 98%;
  }
}
