.tab-content-holder {
  .rest-info {
    min-height: 700px;
    padding: 20px;
    h2 {
      color: #be901e;
      font-size: 16px;
      font-size: 1rem;
      text-align: center;
    }
    .address-box {
      address {
        font-style: normal;
        margin-bottom: 10px;
      }
    }
    .left-box {
      float: left;
      .map {
        background: url('https://api.cedarmaps.com/v1/static/light/35.80741619412945,51.40486836433411,15/400x400@2x?access_token=7901df5912f7f7339cf23c3bf371a20fb84910aa&markers=marker-default|35.80741619412945,51.40486836433411');
        width: 100%;
        height: 100%;
        z-index: 2;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: 53% !important;
      }
    }
    .right-box {
      float: right;
    }
    section {
      text-align: center;
    }
    .food-type {
      li {
        display: inline-block;
        padding: 4px 15px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        border: 1px solid #e4e4e4;
        font-size: 14px;
        font-size: 0.875rem;
        margin: 2px;
      }
    }
  }
  @media only screen and (min-width: 992px) {
    .tab-content-holder {
      .rest-info {
        .left-box {
          width: 50%;
          padding-left: 10px;
        }
        .right-box {
          width: 50%;
        }
      }
    }
  }
}
