// Foodiran Colors

$color-navy: #231f20; //#272c36;
$color-navy-light: #f3f7fa;
$color-delino-gray: #58595b;
$color-red: #ef4123; //#c22028
$color-error: #c22028;
$color-green: #21c64f;
// $colorPrimary: #ef4123;

$color-primary: #be901e;

$color-blue: #39c;
$color-light-blue: #e4f2f4;
$color-white: #fff;
$color-black: #000;
$color-yellow: #fcb146;
$color-note: mix($color-yellow, $color-white, 30%);
$color-orange: #f79905;
$color-gray-dlight: #ddd;
$color-gray-light: #ccc;
$color-gray-superlight: #e4e4e4;
$color-border: $color-gray-superlight;
$color-gray-medium: #888;
$color-gray-dark: #333;
$color-green-light: #11c35e;
$color-brown: #563a22;
$fidilio: #770c0c;

// Social Colors
$color-facebook: #3b5998;
$color-instagram: #92643a;
$color-googleplus: #d34836;
$color-linkedin: #007bb6;
$color-twitter: #1da1f2;
$color-telegram: #2ca5e0;
$color-foursquare: #f94877;

$font-family-delino: 'IRANSans', Tahoma, Helvetica, Sans-serif;
$bg-color: $color-white;
$bg-gray: #f8f8f8;
$text-color: $color-gray-dark;
$font-base: 16 !default;
$link-color: $color-primary;
$link-color-hover: darken($link-color, 20%);

// Dots
$dot-width: 8px;
$dot-height: 8px;
$dot-margin: 2px;
$dot-background: $color-gray-light;
$dot-background-active: $color-red;

// General Config

$header-size: 80px;
$logo-size: 60px;
$cover-height: 300px;

$smooth-transition: all 0.4s cubic-bezier(0.86, 0, 0.07, 1);
$smooth-transition-function: cubic-bezier(0.86, 0, 0.07, 1);

$transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
$transition-function: cubic-bezier(0.19, 1, 0.22, 1);
